# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

*node_modules/

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


### Env / secrets ###
.env
.env.*
!.env.example

### Editor / tooling ###
.claude/
*.claude*
*_cache*
*serena*

### Misc build output ###
*.log
node_modules/
dist/
build/

### MkDocs build output ###
/site/
